In [5]:
# function for interviews and the responses
def interview():
    name = input("Please enter your name: ")
    age = input("Please enter your age: ")
    gpa = input("Please enter your GPA: ")
    return [name, age, gpa]

# function to prompt manager for category of interest and print
def print_category(employees, category):
    categories = {0: "Name", 1: "Age", 2: "GPA"}
    print(f"\nShowing information for category: {categories[category]}")
    for i, employee in enumerate(employees):
        print(f"Employee {i+1} {categories[category]}: {employee[category]}")

In [2]:
# conducting interviews and storing responses
print("Start the Interview process:")
interviewee1 = interview()
interviewee2 = interview()
interviewee3 = interview()
interviewee4 = interview()
interviewee5 = interview()

# creating a list of employees
employees = [interviewee1, interviewee2, interviewee3]

Start the Interview process:
Please enter your name: Megan
Please enter your age: 17
Please enter your GPA: 3.4
Please enter your name: Ronald
Please enter your age: 16
Please enter your GPA: 3.3
Please enter your name: Gina
Please enter your age: 17
Please enter your GPA: 3.8
Please enter your name: Joseph
Please enter your age: 18
Please enter your GPA: 3.7
Please enter your name: Peter
Please enter your age: 18
Please enter your GPA: 4.0

In [3]:
# print out all categories of the employees
print("\nEmployee Data:")
for i, employee in enumerate(employees):
    print(f"Employee {i+1}: Name - {employee[0]}, Age - {employee[1]}, GPA - {employee[2]}")

Employee Data:
Employee 1: Name - Megan, Age - 17, GPA - 3.4
Employee 2: Name - Ronald, Age - 16, GPA - 3.3
Employee 3: Name - Gina, Age - 17, GPA - 3.8

In [4]:
# prompt manager for category of interest
category = int(input("\nEnter 0 to access Name, 1 to access Age, 2 to access GPA: "))

# print out the managers category of interest for each of the employees
print_category(employees, category)

Enter 0 to access Name, 1 to access Age, 2 to access GPA: 0

Showing information for category: Name
Employee 1 Name: Megan
Employee 2 Name: Ronald
Employee 3 Name: Gina